# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]
**/.ipynb_checkpoints/

# gdb
**/.gdb_history

# code stuff
**/.vscode/
**/run
**/objs/
**/massif.out.*
*~
*.o
*.so

# generated output
**/evaluation/*
**/include/spdlog